@page
@using System.Data.SqlClient;

@{
    try
    {
        String MakeID = Request.Query["MakeID"];

        string connectionString = "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=Vehicles;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False";
        using (SqlConnection connection = new SqlConnection(connectionString))
        {
            connection.Open();
            String sql = "DELETE FROM  Makes WHERE MakeID=@MakeID";

            using (SqlCommand cmd = new SqlCommand(sql, connection))
            {

                cmd.Parameters.AddWithValue("@MakeID", MakeID);
                

                cmd.ExecuteNonQuery();
            }

        }
    }
    catch (Exception )
    {
       
    }

    Response.Redirect("/Makes/Index");

    }
}
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>


    
    

