@page
@model CarController.Pages.Vehicles.DriveModel
@{
}
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Car is on Drive Mode</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p>

                    <p>
                        You have chosen to set this vehicle between Drive, Reverse and Stop.

                    </p>

                </div>
                <div class="modal-footer">

                    <input type="submit" class="btn btn-danger" value="Back">

                </div>
            </form>
        </div>
    </div>
</div>
